appnope
asttokens
attrs
autopep8
backcall
beautifulsoup4
bleach
certifi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
defusedxml
einops
executing
fastjsonschema
fonttools
idna
imageio
importlib-metadata
importlib-resources
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema
jupyter_client
jupyter_core
jupyterlab-pygments
kiwisolver
loguru
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
networkx
numpy
opencv-python
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pycodestyle
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
PyWavelets
pyzmq
requests
scikit-image
scikit-learn
scipy
six
soupsieve
stack-data
tabulate
threadpoolctl
tifffile
tinycss2
tomli
tornado
tqdm
traitlets
typing_extensions
urllib3
wcwidth
webencodings
zipp
hydra-core
h5py
wandb
openpyxl
zarr